@font-face {
    font-family: 'Pokemon Kiddy Ding';
    src: url(./Pokemon\ Kiddy\ Ding.ttf);
}

@font-face {
    font-family: 'Mollen Personal Use-Bold';
    src: url(./Mollen\ Personal\ Use-Bold.otf)
}